<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AIPI Duke Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>AIPI Duke Chatbot</h1>
        <form id="queryForm">
            <input type="text" id="queryInput" placeholder="Ask your question here..." required>
            <button type="submit">Submit</button>
        </form>
        
        <div class="results" id="results">
            <div class="loader" id="loader" style="display: none;"></div>
            <p id="message">Welcome! I am here to answer any questions about the Duke AIPI program!</p>
        </div>
    </div>
    <script>
        document.getElementById('queryForm').onsubmit = function(e) {
            e.preventDefault();
            var query = document.getElementById('queryInput').value;
            var loader = document.getElementById('loader');
            var message = document.getElementById('message');
    
            // Show loader, hide message
            loader.style.display = 'block';
            message.style.display = 'none';
    
            fetch('/', {
                method: 'POST',
                body: JSON.stringify({query: query}),
                headers: {'Content-Type': 'application/json'},
            })
            .then(response => response.json())
            .then(data => {
                // Hide loader, show message with rag_output
                loader.style.display = 'none';
                message.innerHTML = data.rag_output; // Update message content
                message.style.display = 'block'; // Make sure to show the message again
            })
            .catch(error => {
                console.error('Error:', error);
                loader.style.display = 'none';
                message.innerHTML = 'Error loading results.';
                message.style.display = 'block';
            });
        };
    </script>
</body>
</html>
